*{
    margin: 0;
    padding: 0;
}
.container{
    height: 70vh;
    width: 60vw;
    margin: 36px;
    margin-left: 275px;
    background-color: black;
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
body{
    background-image: url("image.png");
    background-size: cover;
}
.b1{
    border-radius: 5px;
    height:5vh;
    width: 8vw;
    font-size: 15px;
    background-color: red;
    color: white;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-left: 38vw;
    margin-top: 15vh;
    
}
.b2{
    border-radius: 5px;
    height:5vh;
    width: 8vw;
    font-size: 15px;
    background-color: red;
    color: white;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
input.search{
    border-radius: 5px;
    height: 4vh;
    width: 20vw;
    border: 1px solid grey;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-left: 13vw;
}
.get{
    border: none;
    height: 4vh;
    width: 7vw;
    background-color: red;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-left: 10px;
    color: black;
} 
.movie-info {
    background-color:grey;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.movie-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-info div {
    font-size: 18px;
    line-height: 1.5;
}

.movie-info img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    border-color: blue;
    margin-top: 10px;
}
.bckimg{
    position: fixed;
    left: 0;
    top: 0;
    background-position: center;
}
